*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	scroll-behavior: smooth;
}

header {
	color: white;
	position: fixed;
	top: 2vh;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: large;
	z-index: 10000;
}

header .title {
	font-weight: 400;
    
}

header .title:hover {
	background: white;
	/* color: rgb(0, 20, 111); */
	transition: 0.3s;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 2px 5px;
	color: white;
}

header ul li a:hover, header ul li a.active {
    background: white;
	color: rgb(0, 0, 0);
	transition: 0.3s;
}

body {
	background-color: black;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
}

.rotate{
	animation: rotation 6s;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.linear{
	animation-timing-function: linear;
}

.infinite{
	animation-iteration-count: infinite;
}