@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
	color: white;
	position: fixed;
	top: 2vh;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: large;
	z-index: 10000;
}

header .title {
	font-weight: 400;
    
}

header .title:hover {
	background: white;
	/* color: rgb(0, 20, 111); */
	transition: 0.3s;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 2px 5px;
	color: white;
}

header ul li a:hover, header ul li a.active {
    background: white;
	color: rgb(0, 0, 0);
	transition: 0.3s;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}




.slide.current .content {
  opacity: 1;
  transform: translateX(400px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 100px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url('a1.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('a2.jpeg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('a8.JPG') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('a7.JPG') no-repeat
    center top/cover;
}

